{{ define "commit" }}
<!DOCTYPE html>
<html lang="en">
	{{ template "head" . }}
	<body>
		<div class="cards">
			{{ template "repoheader" . }}

			<div class="card">
				<h3 class="title">commit</h3>
				<section class="commit">
					<div>
						<strong>{{ .commit.Author.Name }}</strong>
						committed on
						<strong>{{ .commit.Author.When.Format "Jan 02 2006" }}</strong>
						at
						<strong>{{ .commit.Author.When.Format "15:04:05 UTC" }}</strong>:
					</div>

					<pre class="code wrap">{{ .commit.Message }}</pre>

					<div class="grid">
						<strong>this commit</strong>
						<a href="/{{ .name }}/commit/{{ .commit.This }}">{{ .commit.This }}</a>
						{{ if .commit.Parent -}}
							<strong>parent</strong>
							<a href="/{{ .name }}/commit/{{ .commit.Parent }}" class="commit-hash">{{ .commit.Parent }}</a>
						{{- end }}
					</div>


					<div>
						{{ .stat.FilesChanged }} files changed,
						{{ .stat.Insertions }} insertions(+),
						{{ .stat.Deletions }} deletions(-)
					</div>

					<div>
						<h4>jump to</h4>
						<ul>
							{{ range .diff }}
								<li><a href="#{{ .Name.New }}">{{ .Name.New }}</a></li>
							{{ end }}
						</ul>
					</div>

					{{ $repo := .name }}
					{{ $this := .commit.This }}
					{{ $parent := .commit.Parent }}
					{{ range .diff }}
						<div class="diff">
							<h4 id="{{ .Name.New }}">
								{{ if .IsNew }}
									<span class="diff-type">A</span>
								{{ else if .IsDelete }}
									<span class="diff-type">D</span>
								{{ else if not (or .IsNew .IsDelete) }}
									<span class="diff-type">M</span>
								{{ end }}
								{{ if .Name.Old }}
									<a href="/{{ $repo }}/blob/{{ $parent }}/{{ .Name.Old }}">{{ .Name.Old }}</a>
									{{ if ne .Name.Old .Name.New }}
										-&gt;
										<a href="/{{ $repo }}/blob/{{ $this }}/{{ .Name.New }}">{{ .Name.New }}</a>
									{{ end }}
								{{ else }}
									<a href="/{{ $repo }}/blob/{{ $this }}/{{ .Name.New }}">{{ .Name.New }}</a>
								{{- end -}}
							</h4>
							{{ if .IsBinary }}
								<p>Not showing binary file.</p>
							{{ else }}
								<pre class="code scroll">
									{{- range .TextFragments -}}
										{{- range .Lines -}}
											{{- if eq .Op.String "+" -}}
												<span class="diff-add">{{ .String }}</span>
											{{- else if eq .Op.String "-" -}}
												<span class="diff-del">{{ .String }}</span>
											{{- else if eq .Op.String " " -}}
												<span class="diff-noop">{{ .String }}</span>
											{{- end -}}
										{{- end -}}
									{{- end -}}
								</pre>
							{{- end -}}
						</div>
					{{ end }}
				</section>
			</div>

			{{ template "footer" . }}
		</div>
	</body>
</html>
{{ end }}
