{{ define "file" }}
<!DOCTYPE html>
<html lang="en">
	{{ template "head" . }}
	<body>
		<div class="cards">
			{{ template "repoheader" . }}

			<div class="card">
				<h3 class="title">/{{ .path }}<a class="right no-underline" href="?raw=true">raw</a></h3>
				<div class="code file-wrapper">
					<div class="line-numbers">
						{{- range .linecount -}}
							<a id="L{{ . }}" href="#L{{ . }}">{{ . }}</a>
						{{- end -}}
					</div>
					<div class="file-content">
						{{- .content -}}
					</div>
				</div>
			</div>

			{{ template "footer" . }}
		</div>
	</body>
</html>
{{ end }}
