{{ define "index" }}
<html lang="en">
	{{ template "head" . }}
	<body>
		<div class="cards">
			<header class="card">
				<h1 class="title">{{ .meta.Title }}</h1>
				<p class="center">{{ .meta.Description }}</p>
			</header>

			<div class="card">
				<div class="grid index">
					{{ range .info }}
						<div class="index-name"><a href="/{{ .Name }}">{{ .Name }}</a></div>
						<div class="desc">{{ .Desc }}</div>
						<div>{{ .Idle }}</div>
					{{ end }}
				</div>
			</div>

			{{ template "footer" . }}
		</div>
	</body>
</html>
{{ end }}
