{{ define "log" }}
<html lang="en">
	{{ template "head" . }}
	<body>
		<div class="cards">
			{{ template "repoheader" . }}

			<div class="card">
				<h3 class="title">log</h3>
				<div class="log">
					{{ $repo := .name }}
					{{ range .commits }}
						<div>
							<div>
								<strong>{{ .Author.Name }}</strong>
								committed on
								<strong>{{ .Author.When.Format "Jan 02 2006" }}</strong>:
							</div>
							<div class="grid">
								<pre class="code">{{ .Message }}</pre>
								<strong><a href="/{{ $repo }}/commit/{{ .Hash.String }}">{{ slice .Hash.String 0 7 }}</a></strong>
							</div>
						</div>
					{{ end }}
				</div>
			</div>

			{{ template "footer" . }}
		</div>
	</body>
</html>
{{ end }}
