{{ define "refs" }}
<html>
	{{ template "head" . }}
	<body>
		<div class="cards">
			{{ template "repoheader" . }}

			{{ $repo := .name }}

			<div class="card">
				<h3 class="title">branches</h3>
				<div class="refs">
				{{ range .branches }}
					<div>
						<strong>{{ .Name.Short }}</strong>
						<a href="/{{ $repo }}/tree/{{ .Name.Short }}/">browse</a>
						<a href="/{{ $repo }}/log/{{ .Name.Short }}">log</a>
					</div>
				{{ end }}
				</div>
			</div>

			{{ if .tags }}
				<div class="card">
					<h3 class="title">tags</h3>
					<div class="refs">
						{{ range .tags }}
							<div>
								<strong>{{ .Name }}</strong>
								<a href="/{{ $repo }}/tree/{{ .Name }}/">browse</a>
								<a href="/{{ $repo }}/log/{{ .Name }}">log</a>
								{{ if .Message }}<pre>{{ .Message }}</pre>{{ end }}
							</div>
						{{ end }}
					</div>
				</div>
			{{ end }}
		</div>
	</body>
</html>
{{ end }}
