{{ define "repo" }}
<html>
	{{ template "head" . }}
	<body>
		<div class="cards">
			{{ template "repoheader" . }}

			<div class="card">
				<h3 class="title">clone</h3>
				<div class="code">git clone ssh://{{ .servername }}/{{ .name }}</div>
			</div>

			{{- if .readme }}
				<article class="card readme">
					<h3 class="title">readme</h3>
					<div class="blog-post">
						<div class="post-body">{{- .readme -}}</div>
					</div>
				</article>
			{{- end -}}
		</div>
	</body>
</html>
{{ end }}
