{{ define "repoheader" }}
<h5><a href="/" class="no-underline">&lt;- all repos</a></h5>

<header class="card">
	<h2 class="title">
		<span>{{ .name }}</span>
		{{ if .ref }}<span class="ref">@ {{ .ref }}</span>{{ end }}
	</h2>

	{{- if .desc -}}
		<h3 class="desc">{{ .desc }}</h3>
	{{- end -}}

	<nav class="flex-center">
		{{ if .name }}
			<a href="/{{ .name }}">summary</a>
			<a href="/{{ .name }}/refs">refs</a>
				{{ if .ref }}
					<a href="/{{ .name }}/tree/{{ .ref }}/">files</a>
					<a href="/{{ .name }}/log/{{ .ref }}">log</a>
				{{ end }}
		{{ end }}
	</nav>
</header>
{{ end }}
