{{ define "tree" }}
<html>
	{{ template "head" . }}
	<body>
		<div class="cards">
			{{ template "repoheader" . }}

			{{ $repo := .name }}
			{{ $ref := .ref }}
			{{ $parent := .parent }}
			<div class="card">
				<h3 class="title">tree &mdash; /{{ $parent }}</h3>
				<div class="grid tree">
					{{ if $parent }}
						<div></div>
						<div></div>
						<div><a class="no-underline" href="/{{ $repo }}/tree/{{ $ref }}/{{ .dotdot }}">⬑up</a></div>
					{{ end }}

					{{/* Directories */}}
					{{ range .files }}
						{{ if not .IsFile }}
							<div class="mode">{{ .Mode }}</div>
							<div class="size">{{ .Size }}</div>
							<div>
								<a class="no-underline" href="/{{ $repo }}/tree/{{ $ref }}/{{ if $parent }}{{ $parent }}/{{ end }}{{ .Name }}">
									{{ .Name }}/
								</a>
							</div>
						{{ end }}
						</a>
					{{ end }}

					{{ range .files }}
						{{ if .IsFile }}
							<div class="mode">{{ .Mode }}</div>
							<div class="size">{{ .Size }}</div>
							<div>
								<a class="no-underline" href="/{{ $repo }}/tree/{{ $ref }}/{{ if $parent }}{{ $parent }}/{{ end }}{{ .Name }}">
									{{ .Name }}
								</a>
							</div>
						{{ end }}
						</a>
					{{ end }}
				</div>
			</div>

			{{- if .readme }}
				<div class="card">
					<h3 class="title">readme</h3>
					<article class="readme">{{- .readme -}}</article>
				</div>
			{{- end -}}

			{{ template "footer" . }}
		</div>
	</body>
</html>
{{ end }}
